<div class=" container-fluid">
        <div>
                <img id="logo" src="{{ asset('img/logo-k-V2.png') }}">
        </div>
        <div>
                <span>Direction artistique et pedagogique : Jean-Pierre Goudard</span>
        </div>
</div>