<div class="row">
    <div class=" ban-foot col-md-12">
        <ul><li><a href="contact.html"> Nous contacter</a></li>
            <li><a href="ml.html">Mentions légales</a></li>
            <li><a href="credits.html">Credits</a></li>
            <li><a href="photos.html">Photos</a></li>
            <li><a href="spectacles.html">Spectacles</a></li>
            <li><a href="https://www.facebook.com/Gamelan-de-la-Compagnie-Kotekan-735955426431728/">Facebook</a></li></ul>
    </div>
</div>