<div class="row">
    <div class="boutons">
        <a href="https://www.facebook.com/Gamelan-de-la-Compagnie-Kotekan-735955426431728/"><i
                    class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://soundcloud.com/gamelan-compagnie-kotekan"><i class="fa fa-soundcloud fa-2x"
                                                                      aria-hidden="true"></i></a>
        <a href="mailto:contact@kotekan.fr"><i class="fa fa-at fa-2x" aria-hidden="true"></i></a>
    </div>
</div>

<!--MEDIA-->
<div class="row">
    <div class="audio">
        <iframe class="player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/177341734&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <iframe class="player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176871819&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        {#                  <iframe class="player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176871229&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                          <iframe class="player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/190257358&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>#}
        <!--<iframe class="player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176869949&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <iframe class="player" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176870424&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>-->
    </div>
</div>
