<div class="boutons">
    <a href="https://www.facebook.com/Gamelan-de-la-Compagnie-Kotekan-735955426431728/">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://soundcloud.com/gamelan-compagnie-kotekan">
        <i class="fa fa-soundcloud fa-2x" aria-hidden="true"></i>
    </a>
    <a href="mailto:contact@kotekan.fr">
        <i class="fa fa-at fa-2x" aria-hidden="true"></i>
    </a>
</div>