{% extends 'base.html.twig' %}
{% block title %}Action Culturelle{% endblock %}
{% block body %}
    <h1>Action culturelle</h1>
    <p>Le mot Gamelan désigne à l’origine des ensembles d’instruments à percussions frappés avec un marteau, notamment des gongs et des claviers à lame.

        <br /> Au contraire des instruments autonomes rassemblés dans les orchestres occidentaux, ceux qui composent le Gamelan ne sont pas conçus pour être utilisés isolément.
        <br />La pratique éminemment collective du Gamelan est l’occasion de croiser les publics, de faire se rencontrer des gens et des habitudes différents…
    </p>
    <p>
        A partir de son Gamelan, la compagnie KOTEKAN est très engagée dans des actions de développement culturel de territoires.
    </p>
    <p>
        <img alt="" src="photo/rencontre-residences/La-fraternelle.JPG" class="insert">
    </p>
    <p>
        Plusieurs types de rencontres avec le Gamelan Nusa Cordon sont possibles : rencontres découvertes spectateurs actifs spectateurs/créateurs, classe artistique

    </p>
    <p>Nous assurons 3 rencontres/jour maximum, selon une répartition horaire à définir avec l’organisateur. Une rencontre fonctionne à partir de 18 personnes et peut accueillir jusqu’à 29 participants. Elle s’adresse (et s’adapte) à tout type de public : scolaires, conservatoire, famille, personnel de crèche, administratif ou de cuisine, élus…
        <br />
    </p>
    <p> Dossier complet :
        <a href="doc/action_culturelle_d%C3%A9taill%C3%A9e.pdf"><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
    </p>
{% endblock %}