{% extends 'base.html.twig' %}
{% block title %}Agenda{% endblock %}
{% block body %}
    <div id="2018" class="ancre"></div>
    <h1>Nos Dates 2018</h1>
    <h2>Fevrier</h2>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>9</span>
            <span>10</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>répétition publique à Bourg en bresse (01), programme :
                <br/> “Voix du Gong“ et “l’Archipel des Mondes : ALONE“ (nouvelle création)</p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>5</span>
            <span>au</span>
            <span>8</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Résidence “Hari Malam“ à Bourg en Bresse (01)</p>
        </div>
    </div>

    <h2>Janvier</h2>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>26</span>
            <span>au</span>
            <span>27</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>"la Marelle" à Corvessiat (01) avec Musikar</p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>19</span>
            <span>20</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Répétition publique au lycée de Beauregard à Montbrison (42), programme :
                <br/> "Voix du Gong" et "Archipel des Mondes : ALONE" (nouvelle création)</p>
        </div>
    </div>
    <div id="2017" class="ancre"></div>
    <h1>Nos Dates 2017</h1>
    <h2>Decembre</h2>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>22</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p> Concert au Centre Culturel Théo Argence à Saint Priest (69), programme : "Musiques de l’Eau".</p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>15</span>
            <span>au</span>
            <span>21</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Résidence "les Chemins du Gong" à Saint Priest (69)</p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>8</span>
            <span>9</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p> Répétition publique à Bourg en bresse (01) programme : "Voix du Gong". </p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>4</span>
            <span>au</span>
            <span>7</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Résidence “Hari Malam“ à Bourg en Bresse (01) </p>
        </div>
    </div>
    <h2>Novembre</h2>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>10</span>
            <span>11</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Répétition publique à Bellegarde sur Valserine (01) programme : "Voix du Gong". </p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>3</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Présentation publique (concert, exposition plastique) le vendredi 3 à 18H30 à Chambery le Haut dans le
                cadre du projet "les Arts d’en haut" initié par la Cité des Arts de Chambery. </p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>1er</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Atelier famille le mercredi 1er novembre à 17H à Chambery le Haut dans le cadre du projet "les Arts d’en
                haut" initié par la Cité des Arts de Chambery. </p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>30oct</span>
            <span>3nov</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p>Résidence de création à Chambery le Haut dans le cadre du projet "les Arts d’en haut" initié par la Cité
                des
                Arts de Chambery.</p>
        </div>
    </div>
    <h2>Octobre</h2>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>13</span>
            <span>14</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p> Répétition publique au lycée de Beauregard à Montbrison (42) : "Voix du Gong".</p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>9</span>
            <span>au</span>
            <span>12</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p> Résidence "Hari Malam" à Montbrison (42)</p>
        </div>
    </div>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>7</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p> Concert à la Grange Batelière de l’Abbaye d’Hautecombe (73 - lac du Bourget) : "Musiques pour adoucir le
                souci" dans le cadre du festival "les Voix de Hautecombes".</p>
        </div>
    </div>

    <h2>Septembre</h2>
    <div class="row event">
        <div class="col-xs-1 date">
            <span>16</span>
            <span>17</span>
        </div>
        <div class="col-xs-11 dateDesc">
            <p> Répétition publique à la Ferme du Vinatier Bron : "Musiques pour adoucir le souci".</p>
        </div>
    </div>

    {#



    <h2>Lundi 26 février au jeudi 1er mars 2018</h2>
    <p>Résidence “Hari Malam“ à Bellegarde sur Valserine (01)</p>

    <h2>vendredi 2 et samedi 3 mars 2018</h2>
    <p>
        répétition publique à Bellegarde sur Valserine (01), programme :
        <br/> “Voix du Gong“ et “l’Archipel des Mondes : ALONE“ (nouvelle création)
    </p>

    <h2>10 et 11 mars 2018</h2>
    <p>
        “la Marelle“ à Treffort (01) avec Musikar
    </p>

    <h2>Du 13 au 15 mars 2018</h2>
    <p>résidence de création à l’EREA de Bourg en Bresse</p>

    <h2>Vendredi 6 avril 2018</h2>
    <p>
        “Voix du Gong“ dans le cadre de “Goudard’s Day“, théâtre de Bourg en Bresse
    </p>

    <h2>Vendredi 27 avril 2018</h2>
    <p>
        Concert “Voix du Gong“ théâtre des Pénitents à Montbrison (42)
    </p>
    <h2>Lundi 28 mai au vendredi 1er juin 2018</h2>
    <p>Résidence “Marelle“ à la Maison des Isles de Bregnier Cordon</p>

    <h2>vendredi 25 mai 2018</h2>
    <p>
        concert "voix du gong", Bellegarde sur Valserine (01)
    </p>
    <h2>Du 25 au 28 juin 2018</h2>
    <p>résidence de création à l’EREA de Bourg en Bresse (suite)
        Présentation publique au théâtre de Bourg en Bresse</p>

    <h2>Du 7 au 12 juillet 2018</h2>
    <p>résidence de création “l’Archipel des Mondes : Alone“
        Lieu à préciser</p>

    <h2>15 et 16 septembre 2018</h2>
    <p>résidence de création “l’Archipel des Mondes : Alone“
        lieu à préciser</p>

    <h2>28, 29 et 30 septembre 2018</h2>
    <p>résidence de création “l’Archipel des Mondes : Alone“
        lieu à préciser</p>

    <h2>4 et 5 octobre 2018</h2>
    <p>création de “ l’Archipel des Mondes : Alone“ à Ferney-Voltaire (01)</p>#}


{% endblock %}