{% extends 'base.html.twig' %}
{% block title %}Agenda{% endblock %}
{% block body %}
    <h1>Nos Dates</h1>
    <h2>16 et 17 septembre 2017</h2>
    <p>
        Répétition publique à la Ferme du Vinatier Bron (programme “ Musiques pour adoucir le souci“ ).
    </p>
    <h2>Samedi 7 octobre 2017</h2>
    <p>Concert à la Grange Batelière de l’Abbaye d’Hautecombe (73 - lac du Bourget) programme :
        <br/> “Musiques pour adoucir le souci“ dans le cadre du festival “les Voix de Hautecombes“.
    </p>
    <h2>Du 9 au 12 octobre 2017</h2>
    <p>
        Résidence “Hari Malam“ à Montbrison (42)
    </p>
    <h2>Vendredi 13 et samedi 14 octobre 2017</h2>
    <p>
        Répétition publique au lycée de Beauregard à Montbrison (42), programme:
        <br/> “Voix du Gong".
    </p>
    <h2>Lundi 30 octobre au vendredi 3 novembre 2017</h2>
    <p>Résidence de création à Chambery le Haut dans le cadre du projet “ les Arts d’en haut“ initié par la Cité des
        Arts de Chambery. Présentation publique (concert, exposition plastique) le vendredi 3 à 18H30. Atelier
        famille le mercredi 1er novembre à 17H.</p>

    <h2>vendredi 10 et samedi 11 novembre 2017</h2>
    <p>
        répétition publique à Bellegarde sur Valserine (01) programme :
        <br/> “Voix du Gong".
    </p>

    <h2>Lundi 4 au jeudi 7 décembre 2017</h2>
    <p>Résidence “Hari Malam“ à Bourg en Bresse (01)</p>

    <h2>vendredi 8 et samedi 9 décembre 2017</h2>
    <p>
        répétition publique à Bourg en bresse (01) programme :
        <br/> “Voix du Gong".
    </p>

    <h2>Du 15 au 21 décembre 2017</h2>
    <p>
        Résidence “les Chemins du Gong“ à Saint Priest (69)
    </p>

    <h2>Vendredi 22 décembre 2017</h2>
    <p>
        Concert au Centre Culturel Théo Argence à Saint Priest (69), programme :
        <br/> “Musiques de l’Eau“.
    </p>

    <h2>Vendredi 19 et samedi 20 janvier 2018</h2>
    <p>
        Répétition publique au lycée de Beauregard à Montbrison (42), programme :
        <br/> “Voix du Gong“ et “l’Archipel des Mondes : ALONE“ (nouvelle création)
    </p>

    <h2>26, 27, 28 janvier 2018</h2>
    <p>
        “la Marelle“ à Corvessiat (01) avec Musikar
    </p>

    <h2>Lundi 5 au jeudi 8 février 2018</h2>
    <p>Résidence “Hari Malam“ à Bourg en Bresse (01)</p>

    <h2>vendredi 9 et samedi 10 février 2018</h2>
    <p>
        répétition publique à Bourg en bresse (01), programme :
        <br/> “Voix du Gong“ et “l’Archipel des Mondes : ALONE“ (nouvelle création)
    </p>

    <h2>Lundi 26 février au jeudi 1er mars 2018</h2>
    <p>Résidence “Hari Malam“ à Bellegarde sur Valserine (01)</p>

    <h2>vendredi 2 et samedi 3 mars 2018</h2>
    <p>
        répétition publique à Bellegarde sur Valserine (01), programme :
        <br/> “Voix du Gong“ et “l’Archipel des Mondes : ALONE“ (nouvelle création)
    </p>

    <h2>10 et 11 mars 2018</h2>
    <p>
        “la Marelle“ à Treffort (01) avec Musikar
    </p>

    <h2>Du 13 au 15 mars 2018</h2>
    <p>résidence de création à l’EREA de Bourg en Bresse</p>

    <h2>Vendredi 6 avril 2018</h2>
    <p>
        “Voix du Gong“ dans le cadre de “Goudard’s Day“, théâtre de Bourg en Bresse
    </p>

    <h2>Vendredi 27 avril 2018</h2>
    <p>
        Concert “Voix du Gong“ théâtre des Pénitents à Montbrison (42)
    </p>
    <h2>Lundi 28 mai au vendredi 1er juin 2018</h2>
    <p>Résidence “Marelle“ à la Maison des Isles de Bregnier Cordon</p>

    <h2>vendredi 25 mai 2018</h2>
    <p>
        concert "voix du gong", Bellegarde sur Valserine (01)
    </p>
    <h2>Du 25 au 28 juin 2018</h2>
    <p>résidence de création à l’EREA de Bourg en Bresse (suite)
        Présentation publique au théâtre de Bourg en Bresse</p>

    <h2>Du 7 au 12 juillet 2018</h2>
    <p>résidence de création “l’Archipel des Mondes : Alone“
        Lieu à préciser</p>

    <h2>15 et 16 septembre 2018</h2>
    <p>résidence de création “l’Archipel des Mondes : Alone“
        lieu à préciser</p>

    <h2>28, 29 et 30 septembre 2018</h2>
    <p>résidence de création “l’Archipel des Mondes : Alone“
        lieu à préciser</p>

    <h2>4 et 5 octobre 2018</h2>
    <p>création de “ l’Archipel des Mondes : Alone“ à Ferney-Voltaire (01)</p>


{% endblock %}