{% extends 'base.html.twig' %}
{% block title %}Credits{% endblock %}
{% block body %}
<h1>Credits</h1>
<p>
    Web-développement: m4r<br />
    Photos : Yoann Cotron, NomaÏ Goudard, Didier Cottet, Myriam Martin, Claude VanRyssel, Jean Pierre Goudard<br />
</p>
{% endblock %}