{% extends 'base.html.twig' %}
{% block title %}Equipe{% endblock %}
{% block body %}
    <h1>Equipe artistique</h1>

    <h2>Elie Carton de Grammont</h2>
    <p>Gamelan, Basse, Contrebasse</p>
    <p><img src="/photo/bio/Elie200x215.jpg" alt="photo" class="bio"><img src="photo/bio/Circ-Elie150x192.jpg" alt="photo" class="bio"></p>

    <h2>Vincent Comici</h2>
    <p>Gamelan, Guitares</p>

    <h2>Yoann Cotron</h2>
    <p>Vidéo</p>
    <p><img src="photo/bio/Yohan200x411.png" alt="photo" class="bio"><img src="photo/bio/circ-Yoann150x182.jpg" alt="photo" class="bio"></p>

    <h2>Sébastien Eglème</h2>
    <p>Gamelan, Violon, Outils numériques</p>
    <p><img src="photo/bio/Seb200x223.jpg" alt="photo" class="bio"><img src="photo/bio/circ-Sebastien150x187.jpg" alt="photo" class="bio"></p>

    <h2>Claire Fournier</h2>
    <p>Gamelan, Flute, Voix</p>
    <p><img src="/photo/bio/Claire-F200x249.jpg" alt="photo" class="bio"><img src="/photo/bio/circ-Claire-F150x179.jpg" alt="photo" class="bio"></p>

    <h2>Anne Gaillard-Pingeon</h2>
    <p>Gamelan, Clavier, Voix</p>
    <p><img src="/photo/bio/Anne200x300.jpg" alt="photo" class="bio"><img src="/photo/bio/circ-Anne150x185.jpg" alt="photo" class="bio"></p>

    <h2>Janick Gilloz</h2>
    <p>Gamelan, Clarinette, Clarinette basse, Percussions, voix</p>
    <p><img src="photo/bio/Janick200x392.jpg" alt="photo" class="bio"><img src="photo/bio/circ-Janick150x184.jpg" alt="photo" class="bio"></p>

    <h2>Evalie Goudard</h2>
    <p>Gamelan, Clavier, Voix</p>
    <p><img src="photo/bio/Evalie200x254.jpg" alt="photo" class="bio"><img src="photo/bio/circ-Evalie150x186.jpg" alt="photo" class="bio"></p>

    <h2>jean Pierre Goudard</h2>
    <p> Composition, direction artistique, derbouka, voix</p>
    <p><img src="/photo/bio/Pawak200x227.jpeg" alt="photo" class="bio"></p>

    <h2>Marion Henry</h2>
    <p>Gamelan, Flûtes, Voix</p>
    <p><img src="photo/bio/Marion200x316.png" alt="photo" class="bio"><img src="" alt="photo" class="bio"></p>

    <h2>Angéline Mere</h2>
    <p>Gamelan, Chant</p>
    <p><img src="/photo/bio/Angie-200x161.jpg" alt="photo" class="bio"><img src="/photo/bio/circ-angeline-150x190.jpg" alt="photo" class="bio"></p>

    <h2>Claire Mével</h2>
    <p>Gamelan, Accordéon, Voix</p>
    <p><img src="/photo/bio/Claire-M200x242.jpg" alt="photo" class="bio"></p>

    <h2>Laetitia Pauget</h2>
    <p>Gamelan, Trombone, Derbouka, Voix</p>
    <p><img src="photo/bio/Laetitia200x427%20.JPG" alt="photo" class="bio"><img src="photo/bio/circ-Laetitia150x188.jpg" alt="photo" class="bio"></p>

    <h2>Alain “Bitch“ Peyrard</h2>
    <p>Regisseur son</p>
    <p><img src="" alt="photo" class="bio"><img src="" alt="photo" class="bio"></p>

    <h2>Claire Poirel</h2>
    <p>Gamelan, Clarinette, Clarinette basse, Voix</p>
    <p><img src="/photo/bio/Claire-P200x274.jpg" alt="photo" class="bio"></p>

    <h2>Charlie Rabuel</h2>
    <p>Gamelan, Percussion</p>
    <p><img src="/photo/bio/circ-Charlie150x188.jpg" alt="photo" class="bio"></p>

    <h2>Florent Rochet</h2>
    <p>Regisseur lumière</p>
    <p><img src="photo/bio/Florent200x149.JPG" alt="photo" class="bio"><img src="photo/bio/circ-florent150x177.jpg" alt="photo" class="bio"></p>

    <h2>Coline Rogé</h2>
    <p>Gamelan, Cor anglais, Voix</p>
    <p><img src="/photo/bio/Coline200x244.jpg" alt="photo" class="bio"><img src="photo/bio/circ-Coline150x184.jpg" alt="photo" class="bio"></p>

    <h2>Perrine Sauvage</h2>
    <p>Gamelan, Flûtes, Voix, Kendang sundanais</p>
    <p><img src="photo/bio/Perrine200x177.jpg" alt="photo" class="bio"><img src="photo/bio/circ-Perrine150x193.jpg" alt="photo" class="bio"></p>

    <h2>Katia Vichard</h2>
    <p>Gamelan, Chant, Sax soprano, Percussions</p>
    <p><img src="photo/bio/Katia200x244.JPG" alt="photo" class="bio"><img src="photo/bio/circ-Katia150x185.jpg" alt="photo" class="bio"></p>

    <h2>Marie Viel</h2>
    <p>Gamelan, Flûtes, Voix, Kendang sundanais</p>
    <p><img src="photo/bio/Marie200x276.JPG" alt="photo" class="bio"><img src="photo/bio/circ-Marie150x196.jpg" alt="photo" class="bio"></p>

{% endblock %}