{% extends 'base.html.twig' %}
{% block title %}Mentions Légales{% endblock %}
{% block body %}
    <h1>Mentions Légales</h1>
    <p>
        Association loi 1901<br />
        N° siret : 428 926 851 00034<br />
        Code APE : 9001 Z<br />
        Licence du spectacle : licence  2-106762 et 3-1067621
    </p>
{% endblock %}