{% extends 'base.html.twig' %}
{% block title %}Paretnaires{% endblock %}
{% block body %}
    <h1>Partenaires</h1>
    <p>
        <a href="http://www.escalehautrhone.fr/"><img src="img/partenaires/logoTerreDeaux1.png" alt="" class="logo"></a> Escale Haut-Rhône
    </p>
    <p>
        <a href="http://www.rhonealpes.fr/"><img src="img/partenaires/Logo_PrefetRegionAURA_cmjn.jpg" alt="" class="logo"></a> DRAC Auvergne Rhône alpes</p>
    <p>
        <a href="http://www.paysdubugey.fr/"><img src="img/partenaires/logoBugey.png" alt="" class="logo"></a> Syndicat mixte du pays du Bugey</p>
    <p>
        <a href="http://www.addim01.fr/"><img src="img/partenaires/Logo_addim.jpeg" alt="" class="logo"></a>ADDIM de l’Ain</p>
    <p>
        <a href="http://www.europe-en-france.gouv.fr/Configuration-Generale-Pages-secondaires/FEDER2"><img src="img/partenaires/rhonealpesfeder.jpeg" alt="" class="logo"></a> Europe</p>
    <p>
        <a href="http://www.cnr.tm.fr/"><img src="img/partenaires/logocnr-nergie-pure-hd.jpg" alt="" class="logo"></a> Compagnie Nationale du Rhône</p>
    <p>
        <a href="http://www.ain.fr/jcms/int_50485/accueil"><img src="img/partenaires/logo_ain_quadri_2015.jpg" alt="" class="logo"></a> Département de l'Ain</p>
    <p>
        <a href="http://www.amb-indonesie.fr/"><img src="img/partenaires/indonesie.gif" alt="" class="logo"></a> Ambassade d'Indonésie</p>
    <p>
        <a href="http://www.jazzsra.fr/"><img src="img/partenaires/jazzs-ra.jpg" alt="" class="logo"></a> Plateforme des Acteurs du Jazz en Rhône-Alpes</p>
{% endblock %}