{% extends 'base.html.twig' %}
{% block title %}Photos{% endblock %}
{% block body %}
    <h1>Photos</h1>
    <h2>Cette page est en cours de construction, merci de revenir dans quelques temps !!</h2>
    <div class="photo">
        <img alt="" src="photo/slide/KOTEKAN-02.jpeg">
        <img alt="" src="photo/slide/KOTEKAN-03.jpeg">
        <img alt="" src="photo/slide/KOTEKAN-04.jpeg">
        <img alt="" src="photo/slide/KOTEKAN-05.jpeg">
        <img alt="" src="photo/slide/KOTEKAN-06.jpeg">
        <img alt="" src="photo/slide/KOTEKAN-64.jpeg">
    </div>
{% endblock %}