{% extends 'base.html.twig' %}
{% block title %}Spectacles{% endblock %}
{% block body %}
    <h1>SPECTACLES</h1>

    <!--NUSA NUSA----------------------------------->
    <h2 id="nusa">Nusa Nusa</h2>
    <h3>Suggérer l’ailleurs…</h3>
    <p>
        <br /> La compagnie Nusa Cordon en concert, c’est Nusa nusa.<br /> 1H30 d’un voyage musical surprenant et envoûtant…<br /> Vibrations qui parcourent les corps, couleurs et énergies d’où surgissent parfois des voix étranges, porteuses d’une mystérieuse parole.<br /> Rêve d’ailleurs, temps suspendu.<br /> Les compositions de Jean Pierre Goudard nous embarquent pour un périple qui flirte avec le jazz, les musiques répétitives et des traditions musicales imaginaires.<br /> Section de cuivres, basse chaloupée, voix, cordes et bien d’autres encore colorent les envolées du Gamelan dans une poésie qui ne manque pas de punch !
    </p>
    <iframe class="insert" src="https://player.vimeo.com/video/128185361?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/128185361">Cie KOTEKAN : Nusa Nusa | spectacle musical</a> from <a href="https://vimeo.com/yocot">Yoann COTRON</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <!--L'APPEL DU GONG------------------------------------>
    <h2 id="appel">L'appel du Gong</h2>
    <h3>Présentation</h3>
    <p>L’Appel du Gong est irrésistible. Embarquement immédiat avec 18 musiciens pour les contrées les plus lointaines de votre imaginaire. A la parade de printemps des Oiselles-Vocalistes répond la musique ensorcelante des grenouilles du lac de Crotel.<br /> Et l’énergie “brute and the rocks“ du Réong s’adoucie dans la mélopée de la Suite Tunisienne.<br /> A moins que vous ne préfériez “Courir avec les arbres“…<br />
    <p><img class="insert" src="/photo/Gong/gong.jpeg" alt="photo Gong"></p>
    <p>
        L’extraordinaire Gamelan Nusa Cordon se pare des couleurs punchies d’une section de cuivres endiablée, d’une guitare rageuse et de voix sublimes. Pour rêver sous les étoiles…</p>
    <h3>Conditions de jeu</h3>
    <p>plein air<br /> espace plat : 9m (ouverture) X 7m<br /> accès à l’électricité.
    </p>

    <!--PENJENG------------------------------------>
    <h2 id="lune">La Lune de Penjeng</h2>
    <h3>Images et musiques. Spectacle jeune public</h3>

    <p>
        <img class="insert" src="img/penjeng.jpg" alt="Affiche"> </p>
    <p>
        Au centre du village de Penjeng, quelques habitants s’affairent. La “Grande Nuit“ approche et le banquet doit être prêt à temps. <br /> Cette année, la célébration de la lune n’est pas une mince affaire. Encore faut-il capturer sa lumière… <br /> On suit sous la plume d’Hortense et Rosa, la vie de six personnages qui bricolent, cuisinent, trinquent… et jouent beaucoup pour que la fête soit réussie.
    </p>
    <iframe class="insert" frameborder="0" src="//www.dailymotion.com/embed/video/xu7g3m" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/xu7g3m_la-lune-de-penjeng-video-de-presentation-spectacle-jeune-public_music" target="_blank">La lune de Penjeng Vid&eacute;o de pr&eacute;sentation...</a> <i>par <a href="http://www.dailymotion.com/yocot73" target="_blank">yocot73</a></i>
    <p>
        A travers les sonorités du Gamelan et dans une ambiance peuplée d’images projetées, les personnages vous entraineront dans une quête mystérieuse et ludique. La lune de Penjeng est un spectacle qui allie la musique à travers le jeu des kendangs, des gongs, du réong et des images qui se tissent au fil des sons.<br /> Gardez les oreilles et les yeux grands ouverts !</p>
    <p><img src="/img/lunepenjeng.png" alt="Image_penjeng"></p>
    <h3>L'équipe artistique</h3>
    <p>Avec :Janick Gilloz, Jean Pierre Goudard, Laetitia Pauget, Perrine Sauvage, Katia Vichard, Marie Viel.<br /> Mise en scène : Carole Gentil<br /> Images : Yoann Cotron<br /> Costumes : Florie Bel<br /> Création et Régisseur lumière : Florent Rochet<br /> Musiques : Jean Pierre Goudard</p>
    <h3>Conditions de jeu</h3>
    <p>
        Durée 40’<br /> Plateau scénique 8m/8M équipé son et lumières<br /> Noir nécessaire<br /> Fiches techniques en annexes<br /> Installation 3H<br /> Conditions financières : nous consulter.<br /> Tarifs dégressifs pour plusieurs représentations.<br />
    </p>

    <!--LA MARELLE------------------------------------>
    <h2 id="marelle">La Marelle</h2>
    <p>Spectacle interactif servant de base aux rencontres/résidences<br /> Jean Pierre Goudard a conçu ce spectacle, mêlant textes et musiques, pour permettre une appropriation rapide du Gamelan.<br /> Dans une atmosphère chaleureuse et exigeante, ce temps permet d’acquérir les bases de jeu sur les différents instruments et des informations sur son origine socioculturelle.</p>
    <p><img class="insert" src="photo/marelle/gamelan-01.jpeg" alt=""></p>

    <!---Musique Pour Adoucir le Souci----------------->
    <h2 id="musique">Musique Pour Adoucir le Souci</h2>
    <p>Un ensemble de pièces musicales qui font écho aux musiques répétitives du XXème siècles des compositeurs Steve Reich, Phillip Glass…</p>
    <p>
    <p><img src="photo/musique/musique-01.jpg" alt="" class="insert"></p>
    <p>Elles s’invitent dans des lieux atypiques : parcs et jardins, musées, forêts profondes ou prairies lumineuses, de jour comme de nuit… Elles privilégient l’acoustique naturelle et /ou une sonorisation à minima. Pour rêver sous les étoiles ou regarder la marée monter.</p>



    <!--l’Archipel des Mondes------------------------------------>
    <h2 id="archipel">l’Archipel des Mondes : Horizons lointains</h2>
    <h3>Présentation</h3>
    <p>L’Archipel des Mondes est un projet de créations multiformes qui associe la Compagnie KOTEKAN à divers champs artistiques.<br /> La première déclinaison de ce projet est in “ciné-concert pour le climat“.<br /> Elle s’appuie sur la rencontre avec Pascal Marquilly, auteur, metteur en scène, plasticien, réalisateur.<br /> En écho à la force poétique du film “Horizons lointains “ de Pascal Marquilly, KOTEKAN a commandé au compositeur Jean Pierre Goudard un ensemble de pièces mixtes associant le Gamelan Nusa Cordon à des instruments occidentaux.<br /> Pascal Marquilly propose un long plan séquence sur la montée des eaux dans différents endroits de la planète (Normandie, Nouvelle-Calédonie, Madagascar…). A chaque fois, 50 personnes assises sur 50 chaises face à la mer – la mer submerge les individus… <br /></p>

    <p><img class="insert" src="/photo/Archipel/Archipel-01.jpeg" alt="L'archipel des mondes"></p>

    <p>
        A la passivité solitaire des individus face à la mer, la Compagnie Kotekan oppose une métaphore optimiste et volontariste, dans un métissage musical où le “faire ensemble“ et l’action collective propres au Gamelan sont plus que jamais nécessaires.<br /> Jean Pierre Goudard a composé de nouvelles pièces mixtes mêlant au gamelan Nusa Cordon, des voix, 2 clarinettes/clarinettes basses, 1 cor anglais, 1 saxophone, des flûtes, contrebasse, violon, textes et machines électroniques…<br /> “ Pourquoi faire seul ce que l’on peut très bien faire à plusieurs“ : KOTEKAN veut ainsi contribuer, de manière poétique et musicale, à la réflexion sur les enjeux climatiques et sur l’urgente réponse collective qu’ils exigent.<br /></p>

    <h3>Conditions de jeu</h3>
    <p>
        Plateau 10m (ouverture) X 8m, équipé son et lumière et vidéo projecteur<br />Noir nécessaire.<br />(fiches techniques sur demandes).<br /> Diffusion vidéo sur grand écran ( 12m/5m minimum).</p>

    <!--Sungay Nyanyi------------------------------------>
    <h2 id="sungay">L’Eau qui court/Sungay Nyanyi</h2>
    <p>KOTEKAN et la Compagnie Nusa Cordon propose un événement fédérateur qui associe des artistes de divers disciplines (Musique, Théâtre, Arts Plastiques, Vidéo ) avec la population (milieu scolaire, club du 3ème âge, grand public).<br /> Cet événement s’appuie sur une descente du Rhône que l’on appelait jadis “la décize“.<br /> Si au cours des siècles, les embarcations qui la permettait ont évoluées, c’était principalement le bois, la pierre et le vin qui constituaient le chargement de la décize, s’égrenant de port en port jusqu’à la Méditerranée.
    </p>
    <p>
        Avec KOTEKAN, c’est un nouveau commerce de décize qui s’inaugure. Ses marchandises sont le rêve et l’imaginaire, l’esprit créatif nourrit des traces collectées et l’espace pour apprendre et faire ensemble. L’ensemble de cette création est confié au musicien/compositeur Jean Pierre Goudard qui en assure la direction artistique.<br /> Il est associé au plasticien Pierre Thorelle et au vidéaste Yoann Cotron.
    </p>
    <p><img src="/img/affiche-sungay.jpeg" alt="" class="logo"></p>
    <h3>La collecte</h3>
    <p>Un temps de collecte pour constituer le chargement de la décize :<br /> En fait, 2 collectes sont réalisées. L’une est conduite directement par les artistes. L’autre est réalisée avec le concours de la population, selon différents protocoles visant à la fois à élargir le potentiel de collectage, mais aussi et surtout à faire entrer les personnes dans les divers processus de création déployés par les artistes. Il s’agit de partager la richesse poétique développée selon des savoirs faire modestes ou perfectionnés, à partir du point de vue de chacun, qu’il soit habitant d’ici, riverain d’ailleurs, vigneron, infirmier, chef d’entreprise enfant, adulte, vidéaste, plasticien, compositeur…<br /> Le fruit de ces deux collectes va constituer le chargement de la décize. Il est ensuite convoyé “de port en port“, présenté sous forme d’exposition (images, objets…) ou bien intégré dans le spectacle du soir.
    </p>
    <p>Le Collectionnaire et la Collecteuse arpentent le territoire pour rassembler 3 types de traces<br /> La collecte est réalisée sur les territoires des escales de la décize, en amont dans le temps. Elle est conduite par deux comédiens : le Collectionnaire qui fait ainsi son “Marché“, accompagné de la Collecteuse. Ils sont assistés d’une équipe artistique spécifique comportant le vidéaste, un musicien, et 1 technicien.<br /> Il s’agit d’une collecte de traces composées de noms, d’images, d’objets, à partir des espaces des Territoires du Haut Rhône.<br /> Ces traces sont revisitées par le compositeur Jean Pierre Goudard et la compagnie Nusa Cordon, le vidéaste Yoann Cotron, le plasticien Pierre Thorelle, dans un regard décalé, dans “ un pas de côté“ laissant libre cours à l’imaginaire et la poésie des artistes.<br /> Images, sons et objets constituent alors un “ herbier potentiel et improbable “.<br /> Ces traces s’entendent pourtant comme autant de prise en compte des lieux et des gens, attestant de leur présence réelle et imaginaire, éphémère au regard du temps du fleuve. Elles envoient un salut vers l’aval. Elles témoignent des liens, des entraides à travers les méandres du fleuve, du temps, de la vie.<br /> Alors le compositeur arpente les rives du Rhône et convoque chacun à constituer cet incroyable chargement, issu des sources et des marais, des cascades et des torrents qui irriguent le grand fleuve. Il en viendra aussi des arcades de nos villes de pierre et de l’arche de vieux ponts usés par le temps. Il en viendra du fronton des montagnes qui veillent sur les vignes et des sombres forêts qui s’écoulent sur leurs pans.</p>
    <h3>La décize sur le Haut-Rhône</h3>
    <p>Elle suivra la route qui longe le fleuve, aucun bateau de taille suffisante pour transporter les artistes et leur matériel n’existant sur le Haut-Rhône.<br /> Les escales s’effectueront autant que possible sur les sites des ports historiques de la navigation sur le Rhône.<br /> C’est presque un “village“ qui débarque et qui s’installe pour la journée jusque dans la nuit. Outre les équipements scéniques liés au spectacle du soir, le “Marché“ du Collectionnaire est de retour et dresse ses tentes d’exposition. On y trouve les objets revisités par le Plasticien au côté de ceux concoctés par le milieu scolaire et les résidents des maisons de retraite.On y trouve aussi des photographies et des films sur lieux revisités par le vidéaste.<br /> Un atelier de pratique vocale accueillant jusqu’à 50 personnes permet de redécouvrir le riche patrimoine de chants de la batellerie. Il est conduit sur environ 2H et encadré par des artistes de la Compagnie Nusa Cordon. L’un des chants appris est intégré au spectacle et les participants à l’atelier sont invités à se joindre aux artistes. De même, un atelier de 2H de découverte du Gamelan est proposé. Il peut accueillir 27 personnes, à partir de 7 ans, et permet d’explorer cette pratique musicale éminemment collective. Aucune connaissance musicale préalable n’est nécessaire. Le Collectionnaire tient son étal et remet à ceux qui avaient déposé leur empreinte vocal, les Partitions Circulaires réalisées par le compositeur qui en résultent. Les Totems-reliquaires sont installés et quadrillent l’espace, diffusant le flot métaphorique de “la Voix du fleuve“.
    </p>
    <h3>Le spectacle</h3>
    <p>A la tombée de la nuit, les artistes de Kotekan aidés par les artistes d’un soir croisent leurs efforts pour offrir aux nombreux amis et autres inconnus, le fruit de l’alliance avec le fleuve. Alors que sur l’écran, tel la grande voile dressée défilent les images qui racontent l’équipage et sa cargaison improbable, la musique jaillit dans un faire ensemble retrouvé.<br /> Le gamelan brille de tous ses feux de bronze, tel un trésor antique. Les gongs, amples et puissants résonnent dans l’espace et les marteaux de jeu virevoltent. Les musiciens de la Compagnie mêlent aux sonorités mystérieuses du Gamelan, les nombreux autres instruments qu’ils maîtrisent : voix, flûtes diverses, cordes, section de cuivres, basse électrique, clarinettes basses, accordéon et multiples percussions. Ils tissent ainsi de somptueux écrins à la voix des comédiens qui racontent le Fleuve et l’histoire de ces trois montagnes qui voulaient voir la mer…<br /> À la nuit noire et après le baiser des étoiles, ils repartiront, tous et chacun gardant au cœur le lien invisible qui par le Rhône les relie. La décize, elle, a repris sa route…
    </p>
    <h3>Partenaires</h3>
    <p>Sungay Nyanyi, le Chant du fleuve existe grace au soutien financier de</p>
    <p>
        <img src="/img/partenaires/rhonealpesfeder.jpeg" alt="logo" class="logo-small">
        <img src="/img/partenaires/logocnr-nergie-pure-hd.jpg" alt="logo" class="logo-small">
        <img src="img/partenaires/ain.jpeg" alt="logo" class="logo-small">
        <img src="/img/partenaires/Logo_addim.jpeg" alt="logo" class="logo-small">
        <img src="/img/partenaires/logoRegionRhoneAlpes.png" alt="logo" class="logo-small"></p>

    <!--Gamelan Swing------------------------------------>
    <h2 id="swing">Gamelan Swing</h2>
    <h3>Présentation</h3>
    <p>Jean Pierre Goudard s’est nourri des grands ensembles de jazz, de DukeEllington à Sun Ra, de Count Basie à l’Instabile Orchestra, de la Marmite Infernale à Magma.
        < br /> Il développe ici un big band bien particulier et hors du commun, alliant un magnifique gamelan balinais, tout en bronze, à deux chanteuses, une section rythmique et des cuivres.
        < br /> Il propose un répertoire spécifique qui voyage du blue au jazz rock, en passant par le latin jazz et l’afrobeat pour un moment festif et convivial.
        < br /></p>
    <H3>Conditions de jeu</H3>
    <p>plateau 10m (ouverture) X 8m équipé son et lumière
        < br /> (fiches techniques sur demandes).</p>


    <!--La voix du Gong------------------------------------>
    <h2 id="voix">La voix du Gong</h2>
    <p>
        pas de description pour l'instant....
    </p>

    <h2 id="fiche-tech"> Fiches techniques</h2>
    <p>
        Fiche technique lumière :
        <a href="doc/fiche-tech-lumiere.pdf"><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
    </p>
    <p>
        Fiche technique son :
        <a href="doc/fiche-tech-Son.pdf"><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
    </p>
{% endblock %}