<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}Kotekan</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% include ':components:head.html.twig' %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="container-fluid">
<header>
    {% block navbar %}
        {% include ':components:navbar.html.twig' %}
    {% endblock %}
    <div class="ban">
        {% include ':components:ban.html.twig' %}
    </div>
</header>
<section class="content col-md-9">
    {% block body %}
    {% endblock %}
</section>
<section class="aside col-md-3">
    {% include ':components:aside.html.twig' %}
</section>

<footer class="page-footer">
    {% include ':components:footer.html.twig' %}
</footer>
{% include ':components:script.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
