<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} - Kotekan</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% include ':components:head.html.twig' %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="container-fluid">
<header>
    <div class="ban">
        {% include ':components:ban.html.twig' %}
    </div>
    {% block navbar %}
        {% include ':components:navbar.html.twig' %}
    {% endblock %}
</header>
<div class="row">
    <section class="article col-md-9">

            {% block body %}
            {% endblock %}
    </section>
    <section class="aside col-md-3">
        {% include ':components:slider.html.twig' %}
        {% include ':components:audio.html.twig' %}
        {% include ':components:reseaux.html.twig' %}
    </section>
</div>
<footer>
    {% include ':components:footer.html.twig' %}
</footer>
{% block javascripts %}{% endblock %}
{% include ':components:script.html.twig' %}
</body>
</html>
