{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

    <!--ARTICLE-->
    <div class="article">
        <h1>Kotekan</h1>
        <h2>“Pourquoi faire seul quand on peut faire à plusieurs !“</h2>
        <p>
            La compagnie KOTEKAN (prononcer cotécanne) a été crée en 2002 par le compositeur Jean Pierre Goudard.
            <br/> Elle rassemble aujourd’hui 18 musiciens et musiciennes autour d’un Gamelan balinais.
        </p>
        <p><img src="photo/Compagnie.png" alt="" class="insert"></p>
        <p>
            L’univers musical que développe Jean Pierre Goudard est très éclectique ; à la palette sonore du Gamelan, il
            mêle de nombreux instruments occidentaux.
            <br/> La création de pièces musicales (plus de 42 en 14 ans) est au cœur des activités de la compagnie.

        </p>

        <p>
            Au gré des différents projets, d’autres champs artistiques viennent élargir cet univers foisonnant (danse,
            théâtre, vidéo…)
        </p>

        <p>
            KOTEKAN est aussi très engagée dans des actions culturelles en lien avec les territoires qui accueillent les
            spectacles de la compagnie.
            <br/> A partir du spectacle interactif “la Marelle“, elle propose des résidences artistiques permettant à
            des publics les plus divers (milieu scolaire, conservatoires, universités, familles…) de se confronter à une
            pratique musicale collective, aussi chaleureuse et bienveillante qu’exigeante.
        </p>
        <p> The compagny Kotekan (en)
            <a href="doc/The%20company%20Kotekan.pdf"><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
        </p>

        <p> Rombongan KOTEKAN (ban)
            <a href="doc/Rombongan%20KOTEKAN.pdf"><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
        </p>

    </div>

{% endblock %}

