{% extends ':admin:baseAdmin.html.twig' %}
{% block title %}Admin home{% endblock %}
{% block body %}
    <h2>Bienvenue dans la partie admin :</h2>
    <div class="jumbotron col-md-8 col-md-offset-3">
        <h3>Artistes</h3>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">gérer</a></p>
    </div>
    <div class="jumbotron col-md-8 col-md-offset-3">
        <h3>Spectacles</h3>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">gérer</a></p>
    </div>
    <div class="jumbotron col-md-8 col-md-offset-3">
        <h3>dates</h3>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">gérer</a></p>
    </div>
    </div>
{% endblock %}