.fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.navbar {
  width: 100%;
  border: none;
  border-radius: 0;
  margin: 0;
  background-image: url('../../../img/fond_menu.png');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 1000;
  .navbar-brand {
    width: 133px;
    padding: 0 20px;
    .logoSmall {
      display: block;
      width: 133px;
    }
  }
  .navbar-right {
    margin: 10px;
    li {
      a {
        color: #000;
        font-family: $font2, arial, sans-serif;
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}
