.carousel {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 200px;
  margin-top: 70px;
  margin-right: 10px;
  margin-bottom: 80px;
  background-color: black;
  justify-content: space-around;
}