header {
  color:$font;
  background-color: $blockGrey;
  font-size: 1em;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
  h3{
    color: #FFF;
    font-size: 2em;
    margin: 10px;
  }
  img{
    width: 133px;
  }
}
