nav {
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 60px;
  color: $font;
  background-color: $blockGrey;
  ul {
    font-size: 1.5em;
    list-style: none;
    li {
      margin: 20px 10px;
      padding: 0;
      text-decoration: none;
      color: $font;
    }
  }
}
