/**
** node-sass --watch web/sass/main.scss web/css/main.css
*/
/**
*************************** RESET *********************
*/
/*!
 * CSS Reset 2011-12-25
 * https://gist.github.com/gists/1360380
 *
 * Author:  Takeru Suzuki, http://terkel.jp/
 * License: Public domain
 *
 * Inspired by Normalize.css: http://necolas.github.com/normalize.css/
 */
/* HTML5 display definitions */
section, nav, article, aside, hgroup,
header, footer, figure, figcaption, details {
  display: block; }

video, audio, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* The root element */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Sections */
body {
  font-family: sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0; }

/* Grouping content */
p, blockquote, dl, dd, figure, .row {
  margin: 0; }

hr {
  color: inherit;
  height: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

pre {
  font-family: monospace, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0; }

ol, ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

/* Text-level semantics */
a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

strong, b {
  font-weight: bold; }

small {
  font-size: 0.83em; }

q {
  quotes: none; }

abbr[title] {
  border-bottom: 1px dotted; }

code, samp, kbd {
  font-family: monospace, sans-serif; }

mark {
  color: black;
  background-color: yellow; }

sub, sup {
  font-size: 0.83em;
  line-height: 0;
  vertical-align: baseline;
  position: relative; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

br {
  *letter-spacing: 0; }

/* Embedded content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

/* Tabular data */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  padding: 0;
  text-align: left; }

th, td {
  text-align: left;
  vertical-align: baseline;
  padding: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

legend {
  border: 0;
  *margin-left: -7px; }

input, button, select, textarea {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  margin: 0; }

input, button {
  line-height: normal;
  vertical-align: inherit;
  *vertical-align: middle; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]:focus {
  outline-offset: -2px; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

select {
  background-color: inherit;
  line-height: normal; }

textarea {
  vertical-align: top;
  overflow: auto;
  *font-family: sans-serif; }

/**
*************************** Variable *********************
 */
/**
* Colors
 */
/**
* Typo
 */
/**
*************************** Fonctions *********************
*/
/**
*************************** Media Querie *********************
 */
/**
*************************** Components *********************
 */
.ban {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 205px;
  background-image: url("../../../img/header-kot-V2.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 1; }
  .ban img {
    width: 300px;
    margin: auto; }
  .ban span {
    font-family: "Muli", arial, sans-serif;
    color: #FFFFFF; }

.fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000; }

.navbar {
  margin-bottom: 0px;
  width: 100%;
  border: none;
  border-radius: 0;
  background-image: url("../../../img/fond_menu.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
  .navbar .navbar-brand {
    width: 133px;
    padding: 0 20px; }
    .navbar .navbar-brand .logoSmall {
      display: block;
      width: 133px; }
  .navbar .navbar-right {
    margin: 10px; }
    .navbar .navbar-right li a {
      color: #000;
      font-family: "Poiret One", arial, sans-serif;
      font-size: 1.3em;
      font-weight: bold; }

.banFoot {
  height: 80px;
  background: url("../../../img/header-kot-V2.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poiret One', arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold; }
  .banFoot ul {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .banFoot ul li a {
      text-decoration: none;
      color: black; }

.boutons {
  margin-top: 10px;
  margin-left: 30%; }
  .boutons a {
    text-decoration: none;
    color: black; }
    .boutons a i {
      margin: 5px; }
  .boutons :hover {
    color: #912309; }

.carousel {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 200px;
  margin-top: 70px;
  margin-right: 10px;
  margin-bottom: 80px;
  background-color: black;
  justify-content: space-around; }

.article {
  padding: 30px 60px; }
  .article h1 {
    font-family: 'Poiret One', arial, sans-serif;
    font-size: 1.9em;
    font-weight: bold;
    margin: 20px;
    text-decoration: underline;
    text-align: center; }
  .article h2 {
    font-family: 'Poiret One', arial, sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    margin: 20px; }
  .article h3 {
    font-family: 'Poiret One', arial, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    margin: 20px; }
  .article p {
    font-family: "Muli", arial, sans-serif;
    font-size: 1.1em;
    margin: 20px; }
  .article .ancre {
    height: 65px; }
  .article .photoLarge {
    width: 100%; }

/**
*************************** Pagess *********************
 */
.event {
  margin: 20px;
  height: 80px;
  background-color: rgba(138, 138, 138, 0.72);
  border-radius: 5px; }
  .event:hover {
    border-left: solid 7px #cd0700; }
  .event .date {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Poiret One', arial, sans-serif;
    font-weight: bold; }
  .event .dateDesc p {
    padding: 20px;
    margin: auto; }

.cadreBio {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end; }
  .cadreBio .thumbnail {
    background-color: rgba(138, 138, 138, 0.72); }
    .cadreBio .thumbnail:hover {
      border-top: solid 7px #cd0700; }
    .cadreBio .thumbnail h2 {
      text-align: center; }
    .cadreBio .thumbnail .caption {
      display: flex;
      flex-direction: column;
      align-items: center; }

.spectacles {
  display: flex;
  justify-content: center;
  text-align: center; }
  .spectacles .thumbnail {
    background-color: rgba(138, 138, 138, 0.72);
    height: 220px; }
  .spectacles a h2 {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 5px; }
  .spectacles .hideSubTitle {
    margin: 20%;
    text-decoration: none;
    position: absolute;
    color: #cd0700;
    font-weight: 900;
    font-size: 1.6em;
    z-index: 10; }
  .spectacles .imgShow {
    width: 250px;
    background-color: rgba(138, 138, 138, 0.72); }

.logo {
  width: 100px;
  margin: 10px; }

/*@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Source+Sans+Pro');
@import url("http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css");*/
/*
.row {
  border: 2px solid red;
}
[class*="col-"]{
  border: 2px solid green;
}
*/
.container-fluid {
  padding: 0px; }

body {
  background: url("../img/font-Section.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.aside {
  padding: 60px 0px; }
