
/**
node-sass --watch web/sass/admin/admin.scss web/css/admin.css
*************************** RESET *********************
*/
@import '../partials/reset';
/**
*************************** Variable *********************
 */
@import '../partials/variables';

/**
*************************** Media Querie *********************
 */
@import '../partials/queries/tablette';
@import '../partials/queries/smartphone';
/**
*************************** Pages *********************
 */
@import "partials/sidenav";
@import "partials/header";
@import "partials/content";
@import "partials/table";


body {
  background: $bodyAdmin;
  height: 100vh;
}
h1 {
    font-size: 3em;
  margin: 0 5px 10px -20px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 200;
  top: 0;
}