{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
<h1>Contact</h1>
<h3>Sur terre</h3>
<p>
    1009 rue du Vieux Port<br /> 01300 Bregnier Cordon <br /> </p>
<p> Direction artistique:<br /> Jean Pierre Goudard<br /> 06 84 05 66 08<br /></p>
<h3>Sur le web</h3>
<p>
    courriel : <a href="mailto:contact@kotekan.fr">contact@kotekan.fr</a>
    <br /> facebook : <a href="https://www.facebook.com/Gamelan-de-la-Compagnie-Kotekan-735955426431728/">Gamelan-de-la-Compagnie-Kotekan</a><br /> myspace : <a href="https://myspace.com/nusacordon">nusacordon</a><br /> soundcloud : <a href="https://soundcloud.com/gamelan-compagnie-kotekan">gamelan compagnie</a>
</p>
<p>
    Revue de presse : <a href="doc/revue-de-presse.pdf"><i class="fa fa-file-pdf-o" style="font-size:48px;color:red"></i></a>
</p>
{% endblock %}