.event{
  margin: 20px;
  height:80px;
  background-color: $blockGrey;
    border-radius: 5px;
  &:hover {
    border-left: solid 7px $rouge;
  }

  .date{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    //margin-top: 20px;
    font-family: 'Poiret One', arial, sans-serif;
    font-weight: bold;
  }
  .dateDesc{
    p{
      padding: 20px;
      margin:auto;
    }
  }
}