/**
** node-sass --watch web/sass/main.scss web/css/main.css
*/

/**
*************************** RESET *********************
*/
@import 'partials/reset';
/**
*************************** Variable *********************
 */
@import 'partials/variables';
/**
*************************** Fonctions *********************
*/
//@import 'partials/mixins';
/**
*************************** Media Querie *********************
 */
@import 'partials/queries/tablette';
@import 'partials/queries/smartphone';
/**
*************************** Components *********************
 */
@import 'partials/components/ban';
@import 'partials/components/navbar';
@import 'partials/components/footer';
@import 'partials/components/audio';
@import 'partials/components/reseaux';
@import 'partials/components/slider';
@import 'partials/components/article';

/**
*************************** Pagess *********************
 */
@import "partials/pages/agenda";
@import "partials/pages/equipe";


/*@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Source+Sans+Pro');
@import url("http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css");*/

/*
.row {
  border: 2px solid red;
}
[class*="col-"]{
  border: 2px solid green;
}
*/

.container-fluid{
  padding:0px;

}
body{
  background: url('../img/font-Section.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aside{
  padding:60px 0px;
}